@tailwind base;
@tailwind components;
@tailwind utilities;

.scale {
    transform: scale(2);
    transition: all 5s ease-in-out;
    font-size: 60px !important;
    @media (max-width: 880px) {
        font-size: 25px !important;
        transform: scale(2);
    }
}
